div.RoundedBox{
    border-radius: 4px;
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #484848;
    font-family: arial;
    margin: auto;
    min-width: 100px;
}

div.RoundedBox .top{
    margin: 0px -20px;
    padding: 0px 20px;
    background-color: #8AF;
    color: #000;
}